@import '../../utils/mixins';

.b-select {
  position: relative;

  width: 100%;
  height: 100%;

  color: #000;
  border: 0;
  background-color: transparent;

  font: 18px $main-font;
  outline: none;
}

.b-select__select {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 100%;

  color: #000;
  border: 0;
  background-color: transparent;

  font: 18px $main-font;
  outline: none;
}

.b-select__option {
  cursor: pointer;

  color: #000;
  border: 0;
  outline: none;
  background: #fff;

  font: 18px $main-font;
}